DATABASE_URL=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# config cho Adafruit IO
ADAFRUIT_IO_USERNAME=
ADAFRUIT_IO_KEY=
MQTT_HOST=io.adafruit.com
MQTT_PORT=8883 
MQTT_USERNAME=${ADAFRUIT_IO_USERNAME}
MQTT_PASSWORD=${ADAFRUIT_IO_KEY}
MQTT_TOPIC=${ADAFRUIT_IO_USERNAME}/feeds/#
MQTT_SSL=true  # Thêm flag để xác định có sử dụng SSL hay không

